<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BykeCon"
			 connectionString="Server=EC2AMAZ-EHR6SVV;Initial Catalog=BykeStores;Integrated Security=True;Persist Security Info=False;Encrypt=False"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>
