<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/158137f4-c080-4c07-b84e-e5a80e2d2b33/resourcegroups/MyWebAppResourceGroup/providers/Microsoft.Web/sites/MyFirstAzureWebApp20260420123052</ResourceId>
    <ResourceGroup>MyWebAppResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://myfirstazurewebapp20260420123052.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a17bcb63-e176-4841-bfaa-80615bcbf939</ProjectGuid>
    <PublishUrl>https://myfirstazurewebapp20260420123052.scm.azurewebsites.net/</PublishUrl>
    <UserName>$MyFirstAzureWebApp20260420123052</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>